.toolbar {
	margin-bottom: 20px;
}
img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.hero-name {
	font-size: 25px;
}
.icon-remove {
	float: right;
	color: red;
}
.icon-remove:hover {
	cursor: pointer;
}