<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Heroes List</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
	<script src="/js/favorite.js"></script>
	
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<link href="/css/favorite.css" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<li><a href="/index.html">Galerie</a></li>
		<li class="active"><a href="#">Favoris</a></li>
	</ul>
</nav>

<div id="favorites" class="container">
	<div class="row col-lg-offset-3">
		<div class="col-lg-6 toolbar">
			<a href="/index.html">Ajouter un superhéro</a>&nbsp;|&nbsp;
			Album : <input type="text" @keyup="filterAlbum" v-model="album">
		</div>
	</div>
	<div class="row col-lg-offset-3">
		<div v-for="fav in currentList" class="col-lg-3">
			<div class="hero-name">
				{{fav.hero.name}}
				<i class="fas fa-times icon-remove" v-on:click="removeFav" v-bind:data-id="fav.id"></i>
			</div>
			<img v-bind:alt="'Image of ' + fav.hero.name" v-bind:src="fav.hero.thumbnail" class="img-responsive">
			<div class="hero-description">{{fav.hero.description}}</div>
		</div>
	</div>
</div>
</body>
</html>